<section class="card" class="post" data-post-id="{{id}}">
  <div><header>
      <h4>{{title}}</h4>
      <p>Posted by
        {{user.username}}
        on
        {{format_date post_date}}
      </p>
    </header>
    <p>{{content}} </p>
  </div>
  {{#each comments}}
    <p>{{this.content}} - {{user.username}} {{format_date this.post_date}}</p>
  {{/each}}

</section>